<mat-form-field class="chips-list">

  <mat-chip-list #chipList>
    <mat-chip
      *ngFor="let item of value"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(item)">
      {{item}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      [placeholder]="options.placeholder"
      #inputRef
      [formControl]="inputControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let user of filteredItems | async" [value]="user">
      {{user}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
