mat-card {
  textarea,
  mat-form-field,
  app-chips-autocomplete {
    width: 100%;
  }

  .form-inline-section {
    display: flex;
    align-items: center;
    min-height: 67px;
    // :first-child {
    //   padding-right: 1em;
    // }
  }
}
