<mat-card>
  <form (submit)="onPostSubmit()" [formGroup]="postForm" encType="multipart/form-data">
    <mat-form-field>
      <input matInput required name="title" formControlName="title" placeholder="Title"/>
      <mat-error *ngIf="controls.title.invalid">Please enter post title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="author" disabled="disabled" [value]="user.email" placeholder="Author"/>
    </mat-form-field>
    <div class="form-inline-section" fxLayoutAlign.lt-md="center start" fxLayoutGap.gt-md="5px" fxLayout.lt-md="column">
        <mat-slide-toggle formControlName="isPublic" name="isPublic" color="primary">
          <div fxLayout="row" fxLayoutGap="5px">
              <span>Public</span><mat-icon *ngIf="controls.isPublic.value">public</mat-icon>
          </div>
        </mat-slide-toggle>
        <app-chips-autocomplete *ngIf="!controls.isPublic.value" name="receivers" [config]="autoConfig" formControlName="receivers" [items]="allReceivers"></app-chips-autocomplete>
    </div>
    <div class="form-inline-section">
        <app-file-uploader name="img_src" formControlName="img_src"></app-file-uploader>
    </div>
    <mat-form-field>
      <textarea matInput required name="content" rows="5" formControlName="content" placeholder="Content"></textarea>
      <mat-error *ngIf="controls.content.invalid">Please enter post content.</mat-error>
    </mat-form-field>
    <button
        [disabled]="isSubmitDisabled || submitting"
        mat-raised-button
        color="primary"
        type="submit">Submit</button>
  </form>
</mat-card>
