<mat-toolbar color="primary">
  <span>TEXT<i>er</i></span>
  <div class="user-info" fxLayout="row">
    <button *ngIf="!(user | async); else userBlock" mat-flat-button (click)="openLogin()" fxFlex>Login</button>
    <ng-template #userBlock>
      <a fxFlex>{{(user | async).email}}</a>
      <button fxFlex mat-flat-button (click)="logout()">Logout</button>
    </ng-template>
  </div>
</mat-toolbar>
