<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="email" formControlName="email" placeholder="Email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" formControlName="password" placeholder="Password" required>
  </mat-form-field>
  <div class="social-login">
    <a [href]="authFb"><span class="icon facebook"></span></a>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutWrap>
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
      <button (click)="loginAsTestUser($event)" mat-raised-button>Login as test user</button>
  </div>
</form>
