.social-login {
  height: 45px;
  padding-bottom: 1.25em;

  img {
    height: 100%;
  }
}

.icon {
  height: 40px;
  width: 40px;
  display: inline-block;
  &.facebook {
    background-size: contain;
    background-image: url(../../../assets/facebook-logo.png);
  }
}
