mat-tab-group {
  img {
    max-width: 100%;
  }
}

mat-expansion-panel-header /deep/ .mat-content {
  flex-direction: column;
  max-width: 100%;
}

mat-expansion-panel-header {
  white-space: nowrap;
}

mat-panel-description {
  align-items: center;
}
