<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title fxLayoutAlign=" center">
      <span class="font-small">({{getFromNow(post.date)}})</span>
      <span>{{post.title}}</span>
    </mat-panel-title>
    <mat-panel-description>
      <span>{{post.author}}</span><mat-icon>keyboard_arrow_right</mat-icon>
      <span *ngIf="post.isPublic">Public</span>
      <span *ngIf="!post.isPublic">{{post.receivers.join(',')}}</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-tab-group>
    <mat-tab label="View">
      <p class="mat-body-1">{{post.content}}</p>
      <img *ngIf="post.img_src" [src]="post.img_src">
    </mat-tab>
    <mat-tab label="Edit" *ngIf="user && user.email === post.author">
      <app-post-form [post]="post" [user]="user" [receivers]="receivers"></app-post-form>
    </mat-tab>
    <mat-tab label="Delete" *ngIf="user && user.email === post.author">
      <h3>Are you sure you want to delete this post?</h3>
      <button mat-raised-button color="primary" (click)="deletePost()">Yes</button>
      <button mat-raised-button color="secondary">No</button>
    </mat-tab>
  </mat-tab-group>
</mat-expansion-panel>
