<form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input matInput type="email" formControlName="email" placeholder="Email" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" formControlName="repeatPassword" placeholder="Repeat Password" required>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Signup</button>
  </form>
