// Import material theming functions
@import '~@angular/material/theming';

:host {
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
  }
}

.upload-btn-wrapper {
  input[type=file] {
    display: none;
  }
  mat-icon {
    margin-left: 5px;
  }
}

.preview-box {
  display: inline-block;
  position: relative;
  img {
    height: 100px;
  }
  mat-icon {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255,255,255,.3);
    cursor: pointer;
  }
}

.drop-zone {
  background: mat-color(mat-palette($mat-light-blue, 100));
  flex: 1;
  transition: .5s;
  &.active {
    background: mat-color(mat-palette($mat-light-blue, 500));
  }
}
