<div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="1em">
  <div class="upload-btn-wrapper"  fxLayout="row" fxLayoutAlign="space-around center">
    <input type="file" (change)="onFileSelect($event)" name="image" #image/>
    <button mat-stroked-button color="primary" (click)="$event.preventDefault(); image.click()">
      Upload Image<mat-icon>cloud_upload</mat-icon>
    </button>
    <div class="preview-box" *ngIf="imgSrc">
        <img [src]="imgSrc" #previewImg/>
        <mat-icon (click)="delete()">close</mat-icon>
    </div>
  </div>
  <div class="drop-zone" fxHide fxHide.gt-md="false" [ngClass]="dropZoneState" fxLayout="row" fxLayoutAlign="space-around center"
  (dragover)="activateDropZone($event)"
  (dragleave)="leaveDropZone()"
  (drop)="dropFile($event)">Drop file here</div>
</div>
