@import '~@angular/flex-layout/mq';
app-header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}
main {
  width: 80%;
  margin: 70px auto 0;
  > * {
    margin: 0 1rem;
  }
}

// This works for all Flex Layout breakpoints
main {
  @include layout-bp(xs) {
    width: 95%;
  }
}
