<div fxLayout="row" fxLayoutAlign=" center" fxLayoutGap="1em">
  <button fxHide.lt-sm="true" mat-raised-button color="primary" [disabled]="!(user | async)" (click)="openPostCreate()">Create post</button>
  <span *ngIf="!(user | async)" class="font-small">Only authenticated user can create a post</span>
  <mat-button-toggle-group *ngIf="(user | async)" value="all" #filter="matButtonToggleGroup" (change)="setFilter($event)" class="posts-filter" aria-label="Filter">
    <mat-button-toggle *ngFor="let option of filterOptions" [value]="option">{{option}}</mat-button-toggle>
  </mat-button-toggle-group>
  <button fxHide.gt-xs="true" mat-fab color="primary" [disabled]="!(user | async)" (click)="openPostCreate()">
    <mat-icon>playlist_add</mat-icon>
  </button>
</div>
<app-post-list [user]="user" [receivers]="users"></app-post-list>
