@import '~@angular/flex-layout/mq';

.post-dialog .mat-dialog-container {
  padding: 0;
}

app-post-list {
  display: block;
}

$gtxs: sm md lg xl;

mat-button-toggle /deep/ .mat-button-toggle-label-content {
  @each $size in $gtxs {
    @include layout-bp($size) {
      line-height: 36px;
      padding: 0 16px;
    }
  }
}
