:host ::ng-deep {
  .mat-tab-body-wrapper {
    padding: 1rem;

    .auth-form {
      > mat-form-field {
        display: block;
        margin: auto;
      }
    }
  }

  .mat-tab-labels {
    justify-content: center;
  }
}
