/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.font-small {
  font-size: .8rem;
}

.post-dialog .mat-dialog-container {
  padding: 0;
}

.auth-dialog {
  .mat-dialog-container {
    padding: 1em;
  }
}
