<mat-accordion>
  <div *ngIf="(loading | async); else list">
      <mat-spinner></mat-spinner>
  </div>
  <ng-template #list>
    <app-post-view *ngFor="let post of (posts | async)" [post]="post" [user]="(user | async)" [receivers]="receivers"></app-post-view>
    <p class="mat-body-1" *ngIf="!(posts | async).length">No posts found</p>
  </ng-template>
</mat-accordion>

