.posts-filter {
  margin: .5em 0;
}

mat-accordion {
  display: inline-block;
  width: 100%;

  div {
    text-align: center;
    mat-spinner {
      display: inline-block;
    }
  }
}

app-post-view {
  margin: .5em;
}
